<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="form-group">
    <label for="email">Your Email Address</label>
    <i *ngIf="email.pending"
       class="bi bi-arrow-clockwise"></i>
    <input class="form-control"
           formControlName="email"
           id="email"
           type="email">
    <div class="alert alert-danger"
         *ngIf="email.invalid && (email.touched || email.dirty)">
      <p *ngIf="email.errors.required">Email Address is Required</p>
      <p *ngIf="email.errors.maxlength">That email is too long!</p>
      <p *ngIf="email.errors.emailValidator">{{ email.errors.emailValidator}}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password-one">Create a Password</label>
    <input type="password"
           formControlName="passwordOne"
           id="password-one"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="password-two">Confirm Password</label>
    <input type="password"
           formControlName="passwordTwo"
           id="password-two"
           class="form-control">
  </div>
  <button type="submit"
          [disabled]="email.pending"
          class="btn btn-primary">Sign me up!</button>
</form>


<pre>
  The Form:
  {{ form.value | json }}

  The Form Errors:
  {{ form.errors | json}}
  Email:

  {{ email.errors | json }}

  Password One:
  {{ passwordOne.errors | json }}

  Password Two:
  {{ passwordTwo.errors | json }}


</pre>
